node_modules
.vercel
.env*.local
next/
/.next
/.next/static
/.next/static/chunks
/.next/**/*.js
.next/static/chunks/app/layout.js
.next/static/chunks/webpack.js
.next
/.next
/.next/cache/webpack/client-development
/.next/cache
.env.qa
