node_modules
.vercel
.env*.local
next/
/.next
/.next/static
/.next/static/chunks
/.next/**/*.js
.next/static/chunks/app/layout.js
.next/static/chunks/webpack.js
.next
/.next
/.next/cache/webpack/client-development
/.next/cache
backups/prod_schema_20250906_194044.prisma
backups/prod_backup_20250906_194040.sql
backups/prod_backup_20250906_194035.sql
backups/prod_backup_20250906_194030.sql
backups/local_backup_20250906_194027.sql
